.banner_img{
    overflow:hidden
}

.banner_img img{
    width: 100%;
}


.home_Nav{
  border-right: 1px solid #8080802b;
    padding-right: 25px;
}

.load_more{
  background: #141007;
    border: none;
    padding: 5px 35px;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
}

.request_more{
    background: #141007;
    padding: 5px 35px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 20px;
}

.request_more:hover{
    border: 2px solid #fff;
}

.load_more svg, .request_more svg{
  font-size: 26px;
    margin-bottom: 4px;
}


.footer_icon{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff !important;
}

.footer_icon svg{
    width: 35px;
    height: 35px;
    padding: 11px;
    margin-right: 10px;
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #fff;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #0D0A07;
    border-bottom: 1px solid;
}

a.navbar-brand {
  color: #BB8A1B !important;
}

.navbar-nav a{
    color: #fff !important;
    list-style-type: none;
    text-decoration: none;
    margin-right: 25px;
}

a.home_Nav.nav-link{
    margin-right: 20px;
    padding-right: 30px
}

img{
    max-width: 104%;
}

button.navbar-toggler.collapsed {
    background-color: #EAD0BB;
}
.navbar-light .navbar-toggler {
    background-color: #EAD0BB;
}
.bottom_img .col-md-2{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.img_gallery{
    background-color: #EAD0BB;
    padding: 30px 0;
    transition: all 0.8s;
}
.img_gallery img:hover{
    transform: scale(1.5);
    transition: all 0.8s;
    cursor: pointer;
    border: 1px solid #191008;
    background-color: #191008
}

.random_face{
    background-color: #191008;
}
.contact_main{
    background-color: #0D0A07;
    color: #fff;
}

.contact_main .who_we{
    padding: 30px 0;
    text-align: center;
}
.contact_main p{
    width: 80%;
    margin: 0 auto;
}

.random_face_text{
    color: #fff !important;
    padding: 55px !important;
}

.random_face_text h3{
    text-align: center;
    font-weight: 700;
}

.copy_rights{
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding-bottom: 20px;
}

.does_exist{
    background-color: #fff;
    color: #000;
    padding: 25px 0;
    width: 76%;
    position: relative;
    left: 290px;
}
@media (max-width: 768px) {

    .does_exist{
        background-color: #fff;
        color: #000;
        padding: 25px 0;
        width: 100%;
        position: relative;
        left: 0px;
}

    .does_exist h2{
        font-size: 18px;
    }
}

.does_exist h2{
margin: 0;
text-align: center;
}

.contact_owners {
    background-color: #fff;
    color: #0D0A07;
    border-radius: 20px;
    text-align: center;
    position: relative !important;
    padding: 75px 0 40px 0;
    width: 60%;
    margin: auto;
}

@media (max-width: 1200px){
    .contact_owners {
        width: 90%;
    }
}

.contact_owners img {
    max-width: 200px;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.contact_owners .img_div {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.contact_owners .role{
    width: 50%;
    margin: 0 auto;
    background:  #0D0A07;
    padding: 6px;
    border-radius: 6px;
    color: #fff !important;
}

.contact_owners h5, .contact_owners .role{
    font-weight: 800 !important;
    margin-top: 15px;
}
.contact_owners .role{
    font-weight: 500 !important;
}

.contact_owners p{
    margin-top: 15px;
}

.contact_owners p svg{
    color: #0D0A07;
}

.contact_owners .divider{
    width: 55%;
    margin: 20px auto;
    font-weight: 700;
}

.owner_social svg{
    width: 35px;
    height: 35px;
    padding: 11px;
    margin-right: 10px;
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #0D0A07;
}

.second_col{
    margin-bottom: 130px !important;
}

.all_img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.all_img .col-md-2{
    padding: 0;
    margin: -1%;
    /*margin-right: -16px;*/
}

@media (max-width: 768px){
    .all_img .col-md-2{
        margin-right: 0;
        padding: 10px;
        overflow: hidden;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 90% !important;
    }
}