.home_Nav{
  border-right: 1px solid #8080802b;
}

.load_more{
  background: saddlebrown;
    border: none;
    padding: 5px 35px;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
}

.load_more svg{
  font-size: 26px;
    margin-bottom: 4px;
}

.footer_icon svg{
  width: 35px;
    background: aqua;
    height: 35px;
    padding: 11px;
    background: transparent;
    border-radius: 100px;
    border: 1px solid #000;
}